In [15]:
import pandas as pd

In [16]:
df = pd.read_csv("data/case-movement.csv")
df.head()

,Fiscal Year,JD Added,JD Disposed,JD Pending,GA Added,GA Disposed,GA Transfered,GA Pending,MV Added,MV Disposed,MV Pending
0,1994-95,"3,829","4,174","3,534","139,428","129,641","4,124","78,534","221,183","220,923","32,263"
1,1995-96,"3,614","3,729","3,419","134,226","132,346","3,877","76,537","206,531","211,639","27,155"
2,1996-97,"3,377","3,240","3,556","139,602","133,168","3,638","79,333","235,086","228,709","33,532"
3,1997-98,"3,074","3,439","3,191","160,711","154,486","3,143","82,415","229,932","224,687","38,777"
4,1998-99,"3,279","3,315","3,155","148,521","143,513","3,372","84,051","224,821","217,350","46,428"

In [17]:
def convert_year(yr):
    last_two = int(yr[-2:])
    if last_two > 90:
        return 1900 + last_two
    return 2000 + last_two
    
    return last_two

convert_year("1994-95")

1995

In [18]:
df["Year"] = df["Fiscal Year"].apply(convert_year)
df

,Fiscal Year,JD Added,JD Disposed,JD Pending,GA Added,GA Disposed,GA Transfered,GA Pending,MV Added,MV Disposed,MV Pending,Year
0,1994-95,"3,829","4,174","3,534","139,428","129,641","4,124","78,534","221,183","220,923","32,263",1995
1,1995-96,"3,614","3,729","3,419","134,226","132,346","3,877","76,537","206,531","211,639","27,155",1996
2,1996-97,"3,377","3,240","3,556","139,602","133,168","3,638","79,333","235,086","228,709","33,532",1997
3,1997-98,"3,074","3,439","3,191","160,711","154,486","3,143","82,415","229,932","224,687","38,777",1998
4,1998-99,"3,279","3,315","3,155","148,521","143,513","3,372","84,051","224,821","217,350","46,428",1999
5,1999-00,"2,864","3,214","2,805","129,667","130,042","3,017","80,659","220,800","227,760","39,288",2000
6,2000-01,"2,886","2,760","2,931","124,768","120,611","3,070","81,746","205,539","212,938","31,889",2001
7,2001-02,"3,209","2,817","3,323","132,043","126,628","3,360","83,801","227,588","225,779","33,698",2002
8,2002-03,"3,111","3,102","3,332","123,743","125,530","3,374","78,640","197,157","200,453","30,402",2003
9,2003-04,"3,133","3,144","3,321","123,505","122,638","3,133","76,374","202,387","190,100","42,689",2004
10,2004-05,"3,226","3,323","3,224","116,250","117,386","2,993","72,245","191,797","204,565","29,921",2005
11,2005-06,"3,136","3,049","3,311","120,879","115,775","3,310","74,039","197,442","192,930","34,433",2006
12,2006-07,"3,678","3,382","3,607","123,454","121,368","3,678","72,447","202,444","201,449","35,428",2007
13,2007-08,"3,452","2,843","4,216","125,049","114,829","3,685","78,982","201,079","196,981","39,526",2008
14,2008-09,"3,623","3,567","4,272","128,297","122,319","3,928","81,032","201,159","209,464","31,221",2009
15,2009-10,"3,375","3,499","4,148","126,876","120,524","3,557","83,827","212,739","206,058","37,902",2010
16,2010-11,"3,233","3,271","4,110","114,830","113,195","3,382","82,080","203,320","201,230","39,992",2011
17,2011-12,"3,150","3,215","4,045","111,060","111,107","3,321","78,712","184,261","189,448","34,805",2012
18,2012-13,"3,228","2,994","4,279","102,692","100,847","3,350","77,207","174,715","179,718","29,802",2013
19,2013-14,"2,837","2,974","4,142","98,052","95,319","2,954","76,986","181,718","176,857","34,663",2014
20,2014-15,"2,891","2,805","4,228","91,787","89,466","3,038","76,269","188,828","177,869","45,622",2015
21,2015-16,"2,919","2,906","4,241","92,053","90,467","3,042","74,813","178,917","190,730","33,809",2016
22,2016-17,"2,572","2,674","4,139","84,919","82,758","2,683","74,291","147,361","155,461","25,709",2017

In [19]:
def fix(badn):
    return int(str(badn).replace(",",""))

for c in df.columns[1:]:
    df[c] = df[c].apply(fix)

df.dtypes

Fiscal Year      object
JD Added          int64
JD Disposed       int64
JD Pending        int64
GA Added          int64
GA Disposed       int64
GA Transfered     int64
GA Pending        int64
MV Added          int64
MV Disposed       int64
MV Pending        int64
Year              int64
dtype: object

In [20]:
import matplotlib
#matplotlib.use( "agg" )
# matplotlib.use( "macosx" )

%matplotlib inline
# matplotlib.style.use('ggplot')
matplotlib.style.use('mirror00')
import matplotlib.pyplot as plt

In [21]:
import os 
def plot(offdf,fname, title="",subfolder="",figsize=(3,3),ylabel="",xlabel=""):
    tmpdf = offdf.copy()
    #fname = tmpdf["Title"][tmpdf.index[0]]
    ax = tmpdf.plot(figsize=figsize)
    ax.set_xlabel(xlabel)
    ax.set_ylabel(ylabel)
    
    df.index = df.index.astype(int)
    #ax.set_title(off_df["title"].iloc[0])
    ax.set_title(title)
        
    plt.tight_layout()
    
    plt.savefig(os.path.join("img", subfolder, fname + ".png"),
                bbox_inches="tight")
    plt.close()


plot(df.set_index("Year")["JD Disposed"],"jd-disposed",figsize=(6,4),subfolder="movement")

In [22]:
df["pct"] = df["JD Disposed"] * 100 / df["JD Disposed"].max()
plot(df.set_index("Year")["pct"],"jd-disposed",figsize=(6,4),subfolder="movement")

In [23]:
firearms = pd.read_csv("data/firearm-only.csv").set_index("Year")
firearms["pct"] = firearms["Charges"] * 100 / firearms["Charges"].max()
firearms

      Charges             Title         pct
Year
2001      441  All firearm-only   15.201655
2002     2069  All firearm-only   71.320234
2003     2293  All firearm-only   79.041710
2004     2109  All firearm-only   72.699069
2005     2515  All firearm-only   86.694243
2006     2488  All firearm-only   85.763530
2007     1968  All firearm-only   67.838676
2008     2821  All firearm-only   97.242330
2009     2604  All firearm-only   89.762151
2010     2684  All firearm-only   92.519821
2011     2901  All firearm-only  100.000000
2012     2574  All firearm-only   88.728025
2013     2779  All firearm-only   95.794554
2014     2623  All firearm-only   90.417098
2015     2800  All firearm-only   96.518442
2016     2615  All firearm-only   90.141331
2017     2722  All firearm-only   93.829714

In [24]:
plot(firearms[firearms.index >= 2002]["pct"],
     "jd-firearm-combined",figsize=(6,4),subfolder="movement")

In [25]:
combined = firearms.join(df.set_index("Year"),how="left",lsuffix="_Firearm",rsuffix="_JD")
combined = combined[["pct_Firearm","pct_JD"]]
combined.columns = ("Firearms charges","All cases")

In [26]:
plot(combined,"combined",figsize=(6,4),subfolder="movement",
     xlabel="Fiscal year",ylabel="Percent of peak")

In [27]:
combined.corr()

                  Firearms charges  All cases
Firearms charges          1.000000   0.199324
All cases                 0.199324   1.000000

In [28]:
combined

      Firearms charges  All cases
Year
2001         15.201655  66.123622
2002         71.320234  67.489219
2003         79.041710  74.317202
2004         72.699069  75.323431
2005         86.694243  79.611883
2006         85.763530  73.047437
2007         67.838676  81.025395
2008         97.242330  68.112123
2009         89.762151  85.457595
2010         92.519821  83.828462
2011        100.000000  78.366076
2012         88.728025  77.024437
2013         95.794554  71.729756
2014         90.417098  71.250599
2015         96.518442  67.201725
2016         90.141331  69.621466
2017         93.829714  64.063249